*.cpp text eol=crlf working-tree-encoding=UTF-8
*.h text eol=crlf working-tree-encoding=UTF-8
*.hpp text eol=crlf working-tree-encoding=UTF-8
*.qml text eol=crlf working-tree-encoding=UTF-8
*.js text eol=crlf working-tree-encoding=UTF-8
*.json text eol=crlf working-tree-encoding=UTF-8
*.md text eol=crlf working-tree-encoding=UTF-8
*.txt text eol=crlf working-tree-encoding=UTF-8
*.env text eol=crlf working-tree-encoding=UTF-8
